<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Alexsandro Vargas de Ávila</h1>
  <p>Estudante Informática Biomédica na UFCSPA</p>
  <a href="mailto:avargasdeavila2019@gmail.com">avargasdeavila2019@gmail.com</a>
  <img
    src="https://scontent.fpoa7-1.fna.fbcdn.net/v/t1.18169-9/406485_304422142937138_514761318_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=cdbe9c&_nc_eui2=AeGLtNxWW8215JIrxlXarWgQ5EAM3LpBB6zkQAzcukEHrPEmiPlEul6kc-Xr-c2FsTTcAkOIEFXXTBW_vknh0Soe&_nc_ohc=gZtAsG4eBlMAX_2sz4B&tn=7LN7va9KzQVg8qIi&_nc_ht=scontent.fpoa7-1.fna&oh=00_AT-Vat5wObcuKQG7kUVl5ihLtwc1DNq-FPOfJmmJ9EiUtA&oe=633EA7ED"
    alt="">


</ion-content>
